<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="keywords" content="Younifier, Profile, Syncrhonization,">
    	<meta name="description" content="Test">
		<title>Younifer</title>
		<!-- external CSS link -->
		<link rel="stylesheet" href="/style.css">
		<link rel="stylesheet" href="/960_16_col_rtl.css">
	</head>

	<body>

		<header>	
		<a href="/connect_all" class="top right">Connect All </a>
		</header>

		<div class="grid-3">
			<div class="profile_pic"> <img src="images/greyheads.png"> </div>
			<ul>
				<li>
				Location: <%= @location %>
				</li>
				<li>
				Job title: <%= @job %>
				</li>
				<li>
				Location: <%= @location %>
				</li>				
			</ul>
		</div>
		<div class="grid-3">
			<div class="profile_pic"> <img src="images/greyheads.png"> </div>
			<ul>
				<li>
				Location: <%= @location %>
				</li>
				<li>
				Job title: <%= @job %>
				</li>
				<li>
				Location: <%= @location %>
				</li>				
			</ul>
		</div>	
		<footer>
		</footer>

	</body>
</html>