
<div class="grid-35">Facebook<br/>
	<a href="/auth/facebook">
		<img src="http://media3.vindy.com/ellington_defaults/images/avatars/blank_avatar_240x240.gif" alt="facebook sign-in">
	</a>
</div>

<div class="grid-35"> Twitter <br/>
	<a href="/auth/twitter">
		<img src="http://media3.vindy.com/ellington_defaults/images/avatars/blank_avatar_240x240.gif" alt="twitter sign-in">
	</a>
</div>

